/* Les id ou classes dont le nom débute par "dyn" concernent
des contenus remplis dynamiquement.*/
/***** PAGE D'ACCUEIL OU TOUTES LES PAGES *****/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 40px 40px 40px;
}

/* "main" de la page d'accueil. */
#home_main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* Header de la page d'accueil. */
#home_header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

#logo {
  width: 270px;
  margin-top: 20px;
}

/* Ensemble "Passer..." + nav. */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Ensemble des tags du haut en version mobile. */
#banner_mobile {
  display: none;
}

#passer_contenu {
  /*display: none;*/
  /*visibility: hidden;*/
  background: #D3573C;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px auto;
}

/* Tags de navigation. */
.barnav {
  margin-top: 15px;
}

/* Chaque tag. */
.tag {
  color: #901C1C;
  font-size: 12px;
  text-decoration: none;
  padding: 3px 6px;
  border: 1px #bbb solid;
  border-radius: 15px;
}
.tag:hover, .tag:focus {
  background: #901C1C;
  color: white;
  border: 1px #901C1C solid;
}

/* h1 de la page d'accueil. */
#home_h1 {
  color: #901C1C;
  font-size: 32px;
  font-weight: normal;
  text-align: right;
  margin: 44px 20px 50px 0;
}

/*
Section des 6 cartes-photos dans la page d'accueil.
Ligne de 3 cartes-photos dans chaque page de photographe.
*/
.main_section, .photo_photosLine {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo_photosLine {
  margin: 20px 50px 0 50px;
}

/*
Chaque carte-photo dans la page d'accueil.
Chaque carte-photo dans chaque page de photographe.
*/
.home_card, .photo_card {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 9px;
  width: 33%;
  margin-top: 50px;
}

/* Dans chaque carte, le lien regroupant la photo et le h2. */
.dyn_home_photoLink {
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border: 2px transparent solid;
  border-radius: 5px;
}
.dyn_home_photoLink:hover, .dyn_home_photoLink:focus {
  border: 2px #901C1C solid;
}

/* Chaque photo ronde. */
/* Présente dans chaque carte de la page d'accueil
et dans la présentation de chaque page de photographe. */
.dyn_round_img {
  box-shadow: 0 4px 4px #bbb;
  width: 180px;
  border-radius: 90px;
}

/* Dans chaque carte de la page d'accueil, le h2 lui-même. */
.dyn_home_h2 {
  color: #D3573C;
  font-size: 32px;
  font-weight: normal;
  margin: 10px 0 0 0;
}

/* Dans chaque carte, la div qui rassemble les 3 lignes de description. */
.dyn_home_card_descr {
  text-align: center;
}

/* Dans chaque carte, la ligne du lieu. */
.dyn_home_card_lieu {
  color: #901C1C;
  font-size: 12px;
  margin: 0;
}

/* Dans chaque carte, la ligne du slogan. */
.dyn_home_card_slogan {
  font-weight: bold;
  margin: 5px 0 0 0;
}

/* Dans chaque carte, la ligne du prix. */
.dyn_home_card_prix {
  margin: 5px 0 0 0;
}

/***** PAGES DE PHOTOGRAPHES *****/
/* Header de chaque page. */
#photo_header {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

/* "main" de chaque page. */
#photo_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-bottom: 40px;
}

/* Dans chaque page, le bloc de présentation sur fond gris. */
#photo_pres, #photo_pres_text {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: #FAFAFA;
  margin: 30px 50px 0 50px;
}

/* Dans chaque présentation, le bloc textuel + le bouton de contact. */
#photo_pres_text {
  align-self: flex-start;
  margin: 0;
}

/* Dans chaque présentation, le bloc textuel seul. */
#photo_pres_leftText {
  padding: 0;
  margin: 0 20px 0 0;
}

/* Dans chaque bloc textuel, le h1. */
#dyn_photo_h1 {
  color: #D3573C;
  font-size: 56px;
  font-weight: normal;
  text-align: left;
  margin: 60px 0 0 50px;
}

/* Dans chaque bloc textuel, la ligne du lieu. */
#dyn_photo_pres_lieu {
  color: #901C1C;
  font-size: 20px;
  margin: 0 0 0 50px;
}

/* Dans chaque bloc textuel, la ligne de la description. */
#dyn_photo_pres_slogan {
  margin: 20px 0 0 50px;
}

/* Dans chaque bloc textuel, les tags de navigation. */
#dyn_photo_pres_barnav {
  margin: 20px 0 0 50px;
}

/* Chaque tag. */
.photo_pres_tag {
  color: #901C1C;
  font-size: 19px;
  text-decoration: none;
  padding: 3px 6px;
  border: 1px #bbb solid;
  border-radius: 15px;
}
.photo_pres_tag:hover, .photo_pres_tag:focus {
  background: #901C1C;
  color: white;
  border: 1px #901C1C solid;
}

/* Le lien englobant le bouton de contact. */
#dyn_photo_contact_link {
  background: #901C1C;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 10px;
  border-radius: 5px;
  margin-top: -35px;
}
#dyn_photo_contact_link:hover, #dyn_photo_contact_link:focus {
  background: #D3573C;
  color: black;
}

/* L'image ronde. */
#dyn_photo_round_img {
  margin: 50px 40px;
}

/* Bloc en bas à droite du nombre de likes et prix. */
#likes_prix, #likes_prix2 {
  background: #D3573C;
  position: fixed;
  bottom: 0;
  right: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  width: 300px;
  padding: 15px;
  border-radius: 5px;
}

/* Les likes. Utilisé aussi pour chaque carte-photo. */
.dyn_likes {
  display: flex;
  align-items: center;
  margin-right: 45px;
}

/* Le prix du photographe. */
/*.dyn_prix {}*/

/* "Trier par" et sa liste déroulante. */
#liste_tris {
  font-size: 20px;
  margin: 5px 0 30px 50px;
}

/* La liste déroulante de tris. */
#menuTri {
  background: #901C1C;
  color: white;
  font-size: 20px;
  padding: 20px 10px;
  border-radius: 5px;
  margin-left: 15px;
}

.photo_photosLine {
  margin: 0;
}

/*
.photo_card {
  border: 1px red solid;
}
*/

/* Dans chaque carte, le lien incluant la photo. */
.photo_photoLink, .dyn_photo_photoLink {
  font-size: 16px;
  text-decoration: none;
  border: 2px transparent solid;
  border-radius: 5px;
  margin: 0;
}
.photo_photoLink:hover, .photo_photoLink:focus,
.dyn_photo_photoLink:hover, .dyn_photo_photoLink:focus {
  border: 2px #901C1C solid;
}

/* Chaque photo dans le lien. */
.dyn_photo_img {
  width: 300px;
  border-radius: 5px;
  margin-bottom: -4px;
}

/* Dans chaque carte, la ligne du titre et des likes. */
.photo_card_titleLikes {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  color: #901C1C;
  font-size: 24px;
  width: 100%;
  margin: 5px 0 0 0;
}

/* Le titre. */
.dyn_title {
  margin-left: 45px;
}

/* Dans chaque carte, l'icône "coeur". */
.icone {
  cursor: pointer;
  width: 24px;
}

/* En bas à droite, l'icône "coeur noir". */
#icone {
  cursor: auto;
}

/* Toutes les media queries pour mobiles. */
@media all and (max-width: 600px) {
  #logo {
    width: 240px;
    margin: 20px 0 0 -70px;
  }

  #home_h1 {
    font-size: 14px;
    margin: 44px -20px 50px 0;
  }

  #banner {
    display: none;
  }

  #banner_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .barnav_mobile {
    line-height: 24px;
    text-align: center;
    margin-top: 0;
  }

  .main_section {
    flex-direction: column;
    padding-top: 10px;
    margin-top: 0;
  }
  
  #Nabeel {
    margin-top: -10px;
  }
  
  .home_card, .photo_card {
    width: 100%;
    margin-top: 30px;
  }
}


